
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2> 

<h2><a asp-action="Create">Create</a></h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach(var d in Model)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td>@d.Salary</td>
            <td>
                <a asp-action="Delete" asp-route-id="@d.Id">Delete</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@d.Id">Edit</a>
            </td>
        </tr>
    }
</table>
